@use "@mixins" as *;

.why {
    margin-top: 120px;
    @include media-max-width(1400) {
        margin-top: 100px;
    }
    @include media-max-width(1280) {
        margin-top: 80px;
    }
    @include media-max-width(1000) {
        margin-top: 60px;
    }
}
.why__title {
    text-align: center;
}
.why__desctiption {
    max-width: 885px;
    margin: 20px auto 0 auto;
    @include media-max-width(1850) {
        width: 700px;
        margin-top: 15px;
    }
    @include media-max-width(1400) {
        margin-top: 10px;
    }
    @include media-max-width(1280) {
        max-width: 600px;
    }
    @include media-max-width(1000) {
        width: 100%;
    }
}
.why__cards {
    display: grid;
    gap: 20px;
    @include media-max-width(1400) {
        gap: 15px;
    }
    @include media-max-width(1000) {
        gap: 10px;
    }
    &.large {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 40px;
        @include media-max-width(1850) {
            margin-top: 30px;
        }
        @include media-max-width(1000) {
            grid-template-columns: repeat(1, 1fr);
        }
        @include media-max-width(1000) {
            margin-top: 20px;
        }
    }
    &.small {
        grid-template-columns: repeat(5, 1fr);
        margin-top: 27px;
        @include media-max-width(1850) {
            margin-top: 20px;
        }
        @include media-max-width(1400) {
            margin-top: 15px;
        }
        @include media-max-width(1280) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-max-width(1000) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 10px;
        }
    }
}
