.advantage-card-small {
    background-color: var(--light-grey);
    color: var(--grey-1);
    padding: 30px;
    border-radius: 40px;
    box-sizing: border-box;
}
.advantage-card-small__icon {
    img {
        display: block;
        height: auto;
        width: 50px;
    }
}
.advantage-card-small__title {
    font-weight: 600;
    margin-top: 20px;
}
