.button {
    min-height: 72px;
    background-color: var(--button-bg);
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 24px;
    line-height: 0;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    transition:
        background-color 0.2s ease,
        outline 0.2s ease;
    @media (hover: hover) {
        &:hover {
            background-color: var(--button-bg-hover);
        }
    }
    &:active {
        background-color: var(--button-bg-active);
    }
    &.disabled,
    &:disabled {
        background-color: var(--button-bg-disabled);
        cursor: default;
        pointer-events: none;
    }
    &:focus-visible {
        outline: 5px solid var(--button-focus);
    }
}
