.client-card {
    display: flex;
    height: 200px;
    background-color: var(--light-grey);
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 30px;
    box-sizing: border-box;
    img {
        display: block;
        height: auto;
        width: auto;
        max-width: 100%;
    }
}
