@use "@mixins" as *;

.promo-dark {
    @include media-min-width(1001) {
        &:not(.left) {
            .promo-dark__star {
                width: 88px;
                transform: rotate(-12deg);
                left: 24px;
                bottom: 5px;
                @include media-max-width(1850) {
                    width: 60px;
                    left: 30px;
                    bottom: 10px;
                }
                @include media-max-width(1280) {
                    width: 45px;
                    left: 20px;
                }
            }
        }
        &.left {
            .promo-dark__content {
                order: 1;
            }
            .promo-dark__image {
                order: 0;
            }
            .promo-dark__star {
                width: 68px;
                @include media-max-width(1850) {
                    width: 55px;
                }
                @include media-max-width(1280) {
                    width: 45px;
                }
                &.star-1 {
                    transform: rotate(3deg);
                    top: 8px;
                    left: 6px;
                }
                &.star-2 {
                    transform: rotate(-12deg);
                    right: 50px;
                    bottom: 33px;
                    @include media-max-width(1280) {
                        display: none;
                    }
                }
            }
        }
    }
    .container {
        display: flex;
        background-color: var(--dark-grey);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 60px 120px;
        border-radius: 40px;
        box-sizing: border-box;
        @include media-max-width(1850) {
            padding: 50px 100px;
            border-radius: 30px;
        }
        @include media-max-width(1400) {
            padding: 40px 70px;
            border-radius: 20px;
        }
        @include media-max-width(1280) {
            padding: 40px;
        }
        @include media-max-width(1000) {
            flex-direction: column;
            padding: 20px;
            border-radius: 15px;
        }
    }
}
.promo-dark__content {
    width: 760px;
    @include media-max-width(1850) {
        width: 45%;
    }
    @include media-max-width(1000) {
        width: 100%;
        order: 1;
        margin-top: 30px;
    }
}
.promo-dark__title {
    @include media-max-width(1280) {
        font-size: 24px;
        line-height: 32px;
    }
    @include media-max-width(1000) {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}
.promo-dark__button {
    margin-top: 40px;
    @include media-max-width(1280) {
        margin-top: 30px;
    }
    @include media-max-width(1000) {
        margin-top: 20px;
    }
    button,
    a {
        width: 100%;
    }
}
.promo-dark__image {
    width: 683px;
    position: relative;
    @include media-max-width(1850) {
        width: 45%;
    }
    @include media-max-width(1000) {
        width: 100%;
        order: 0;
    }
}
.promo-dark__image__content {
    width: 100%;
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}
.promo-dark__star {
    position: absolute;
    @include media-max-width(1000) {
        display: none;
    }
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}
