@use "@mixins" as *;

.review-card {
    background-color: var(--light-grey);
    padding: 40px;
    border-radius: 30px;
    box-sizing: border-box;
    @include media-max-width(1850) {
        padding: 30px;
        border-radius: 30px;
    }
    @include media-max-width(1400) {
        border-radius: 20px;
    }
    @include media-max-width(1000) {
        padding: 20px;
        border-radius: 15px;
    }
}
.review-card__rating {
    display: flex;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    flex-direction: row;
    @include media-max-width(1850) {
        font-size: 30px;
        line-height: 40px;
    }
    @include media-max-width(1400) {
        font-size: 26px;
        line-height: 34px;
    }
}
.review-card__rating__text {
    width: 55px;
    margin-right: 25px;
    @include media-max-width(1850) {
        width: auto;
        margin-right: 15px;
    }
}
.review-card__rating__stars {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    @include media-max-width(1850) {
        justify-content: unset;
        gap: 5px;
    }
    @include media-max-width(1280) {
    }
    img {
        display: block;
        height: auto;
        width: 49px;
        @include media-max-width(1850) {
            width: 32px;
        }
        @include media-max-width(1400) {
            width: 28px;
        }
    }
}
.review-card__text {
    margin-top: 20px;
    @include media-max-width(1850) {
        margin-top: 15px;
    }
    @include media-max-width(1400) {
        margin-top: 12px;
    }
}
.review-card__niche {
    color: var(--grey-1);
    padding-right: 20px;
    margin-top: 20px;
    @include media-max-width(1850) {
        padding-right: 0;
        margin-top: 15px;
    }
    @include media-max-width(1400) {
        margin-top: 12px;
    }
}
