include ../../mixins/mixins.pug

section.additional-services
    .container 
        .additional-services__title.h2 
            h2 Дополнительные услуги
        .additional-services__content
            +service-card('Создание промо-страницы', '15 000')
            +service-card('Настройка и ведение Яндекс.Директ', '10 000')