include ../../mixins/mixins.pug

section.advantages
    .container
        .advantages__title.h2
            h2 Завалим ваш отдел продаж 
                <br />
                span.orange целевыми Лидами
        .advantages__content
            +advantage-card('Оплата за результат', 'Вы платите только за переданные и получение вами целевые Лиды — их контактные данные (телефон, Telegram, email)', 'assets/images/advantages/advantage-1.png')
            +advantage-card('Качественные лиды', 'Все передаваемые вам Лиды — это потенциальные клиенты, которые искали ваш товар или услугу', 'assets/images/advantages/advantage-2.png')
            +advantage-card('Любой объём — <br/>на ваш выбор', 'Покупайте сколько контактов потенциальных клиентов в месяц — сколько требуется вам!', 'assets/images/advantages/advantage-3.png')
            +advantage-card('Комплекс технологий', 'После расчёта стоимости Лидов и оплаты выбранного пакета — вы получите уникальный код для своего сайта, который позволит отслеживать контакты тех, кто не оставил заявку', 'assets/images/advantages/advantage-4.png')