section#contacts.contacts
    .container
        .contacts__content
            .contacts__title.h2
                h2 Контакты
            .contacts__description.description
                p Есть вопрос, или вы хотите получить бесплатную консультацию? Свяжитесь с нами, и мы предоставим необходимую информацию!
            .contacts__details
                .contacts__details__item
                    .contacts__details__item__title
                        span Адрес офиса
                    .contacts__details__item__text
                        a(href="https://yandex.ru/maps/-/CHFqi4--" target="_blank") г. Москва, ул. Дубининская, д. 53
                .contacts__details__item
                    .contacts__details__item__title
                        span Телефон:
                    .contacts__details__item__text
                        a(href="tel:+74951183282") +7 495 118-32-82 
                .contacts__details__item
                    .contacts__details__item__title
                        span Электронная почта
                    .contacts__details__item__text
                        a(href="mailto:mailbox@leadconveer.ru") mailbox@leadconveer.ru
                .contacts__messanger
                    .contacts__messanger__text
                        span Или напишите нам в любимом мессенджере:
                    .contacts__messanger__icon
                        a(href="#")
                            include ../../../assets/icons/telegram.svg
        .contacts__image
            img(src="assets/images/contacts.jpg", alt="contacts")