include ../../mixins/mixins.pug

section.faq
    .container
        .faq__title.h2
            h2 Вопросы и ответы
        .faq__content
            .faq__list
                +accordion('На сколько это безопасно, законно и может ли навредить моему сайту?')
                    p Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных, который сохраняется в браузере и передается при обращению к сайтам.
                    p Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными.
                    p Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет. 
                +accordion('Откуда берутся номера телефонов?')
                    p Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных, который сохраняется в браузере и передается при обращению к сайтам.
                    p Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными.
                    p Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет. 
                +accordion('Смогу ли я сам установить код на сайт?')
                    p Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных, который сохраняется в браузере и передается при обращению к сайтам.
                    p Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными.
                    p Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет. 
                +accordion('На какую CMS или конструктор можно установить код «Лид Конвейер»?')
                    p Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных, который сохраняется в браузере и передается при обращению к сайтам.
                    p Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными.
                    p Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет. 
                +accordion('Как оплатить ваш сервис?')
                    p Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных, который сохраняется в браузере и передается при обращению к сайтам.
                    p Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными.
                    p Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет. 
            .faq__image
                img(src="assets/images/faq.png", alt="")