include ../../mixins/mixins.pug

section.heading
    .container
        .heading__content
            .heading__description
                .heading__description__title.h1
                    h1
                        span.orange Лидогенерация 
                        | для бизнеса
                .heading__description__text 
                    p Покупайте только целевые лиды по фиксированной цене от 300 ₽
                    img(src="/assets/icons/moneymouth.png", alt="money mouth emoji")
                .heading__description__button
                    +button('Выбрать пакет лидов')
            .heading__image
                .heading__image__content
                    img(src="/assets/images/heading.jpg", alt="heading")
                img.heading__image__star.star-1(src="/assets/icons/star.svg", alt="star")
                img.heading__image__star.star-2(src="/assets/icons/star.svg", alt="star")
        .heading__advantages
            .heading__advantages__item
                span Лидогенерация в b2b
            .heading__advantages__item
                span Биржа лидов
            .heading__advantages__item
                span Сервис по Лидгену
            .heading__advantages__item
                span Лиды для производства
            .heading__advantages__item
                span Клиенты для бизнеса
            .heading__advantages__item
                span Определить телефон посетителя сайта