include ../../mixins/mixins.pug

section.info
    .container
        .info__title
            .info__title__text.h2
                h2 Лидогенерация — это новая эра маркетинга!
                img(src="assets/icons/rocket.png", alt="rocket")
            .info__title__button
                +button('Купить Лиды')
        .info__description
            .info__description__content
                p Использование лидогенерации снижает стоимость привлечения клиентов, позволяет бизнесу сосредоточиться на основном продукте и значительно упрощает процесс работы.
                p Использование биржи помогает оптимизировать стоимость привлечения заявок и получить готовые решения для лидогенерации. Наш сервис предоставляет уникальную возможность купить или продать лиды, обеспечивая прозрачность и надёжность каждой сделки.
                p Мы объединяем вебмастеров, готовых передать заявки, и бизнесы, которым нужны новые клиенты. На нашей платформе вебмастеры размещают готовые заявки, которые затем приобретаются бизнесами для привлечения новых клиентов. Это упрощает процесс взаимодействия и повышает эффективность работы. Каждая заявка проходит тщательную проверку, чтобы обеспечить максимальную ценность для бизнеса.
                p Вы покупаете лиды, уже готовые к взаимодействию, и получаете гарантированный результат.
            .info__description__button
                button Читать больше
            .info__description__star
                img(src="assets/icons/star.svg", alt="star")