include ../../mixins/mixins.pug

section.prices
    .container
        .prices__title.h2 
            h2 Стоимость технологий 
                <br />
                span.orange «Лид Конвейер»
        .prices__description.description
            p Оптимальные тарифы и цены на получение готовых Лидов и заявок с вашего сайта, без переплаты и абонентской платы
        .prices__content
            +price-card(
                'Старт',
                '50 готовых лидов',
                '22 500',
                'Стартовый пакет для тех, кто хочет купить Лидов со своего сайта и повысить свои продаж',
                [{text: '50 Лидов'}, {text: '450 ₽ за один Лид', isStrong: true}, {text: 'Получение за 5–7 дней'}],
                'light'
            )
            +price-card(
                'Стандарт',
                '100 готовых лидов',
                '40 000',
                'Оптимальный пакет Лидов для любого отдела продаж и для повышения продаж своих товаров или услуг',
                [{text: '100 Лидов'}, {text: '400 ₽ за один Лид', isStrong: true}, {text: 'Получение за 7–14 дней'}, {text: 'Возможность показа Лидам рекламы через Яндекс.Директ'}],
                'dark'
            )
            +price-card(
                'Премиум',
                '300 готовых лидов',
                '90 000',
                'Максимум целевых Лидов в ближайшее время для вашего бизнеса которые уже завтра могут стать Вашими клиентами!',
                [{text: '300 Лидов'}, {text: '300 ₽ за один Лид', isStrong: true}, {text: 'Получение за 14–30 дней'}, {text: 'Возможность показа Лидам рекламы через Яндекс.Директ'}, {text: 'Готовый и конверсионный скрипт продаж целевым Лидам'}],
                'light'
            )