include ../../mixins/mixins.pug

section.promo-result
    +promo-dark(
        'Давайте принесём результат Вашему бизнесу? Завалите своей отдел продаж Лидами!',
        'assets/images/promo-3.png',
        'left'
    )
