include ../../mixins/mixins.pug

section.promo-registration
    +promo-dark(
        'Зарегистрируйтесь и добавьте свой проект в систему — начните получать Лидов сегодня!',
        'assets/images/promo-2.jpg'
    )
