section.promo-simple
    .container
        .promo-simple__content
            .promo-simple__image
                .promo-simple__image__content
                    img(src="assets/images/promo.jpg", alt="promo")
                .promo-simple__image__star.star-1
                    img(src="assets/icons/star.svg", alt="star")
                .promo-simple__image__star.star-2
                    img(src="assets/icons/star.svg", alt="star")
            .promo-simple__description
                .promo-simple__description__title.h2
                    h2 Технология 
                        <br />
                        span.orange «Лид Конвейер»
                        img(src="assets/icons/smilingface.png", alt="Smiling face emoji")
                .promo-simple__description__text
                    p Мы разработали программный комплекс, который позволяет определять контактные данные (телефон, Telegram, email) тех посетителей вашего сайта, кто был на сайте, но не оставил заявку.
                    p Далее, на основе собственных разработок, мы идентифицируем пользователей по интересам и интересующим их товарам и услугам — вам передаём только тех, кто заинтересован в вашей услуге или товаре.
                    p Вы платите только за результат — за полученных Лидов (заявки) на свои услуги или товары.