include ../../mixins/mixins.pug

section#reviews.reviews
    .container
        .reviews__title.h2
            h2 Отзывы клиентов
        .reviews__description.description
            p Более 89% наших клиентов сотрудничают с нами ежемесячно на протяжении более 2-х лет
        .reviews__cards
            +review-card(
                '5,0',
                '«Стабильно получаем новые лиды из сервиса. С точки зрения рентабельности нареканий нет. Тёплая заявка 800–1000 рублей, конверсия, цена-качество устраивает. Общее впечатление достаточно хорошее, цена, качество, скорость».',
                'банкротство, списание долгов'
            )
            +review-card(
                '4,8',
                '«С вашим сервисом работаем с июня 22 года. Нас заинтересовало, и мы решили протестировать. Взяли минимальный пакет из 10 новых лидов, а потом, как он закончился, взяли повышенный пакет. Учитывая нашу сферу и посмотреть статистику, из 100 заинтересованных 15 в продажу. Это хороший результат».',
                'банкротство, списание долгов'
            )
            +review-card(
                '5,0',
                '«С сервисом работаем чуть меньше года. Немного сомневались, но согласились попробовать, а после продолжили работать. Новые клиенты появились сразу, передали на наш колл-центр. С вашего источника дешевле, чем с других сервисов. Безусловно, с вами стоит работать».',
                'банкротство, списание долгов'
            )
            +review-card(
                '4,9',
                '«С вашей компанией работаем более 2‑х лет, сотрудничество полезное. Мы все посмотрели, разобрались, что сервис даёт реально целевые заявки. Заключили контракт на 23 000 рублей, окупилось. Понравилась технология, она помогает нам получать лиды».',
                'банкротство, списание долгов'
            )
        .reviews__videos
            +video-card('Отзыв 1: название', 'https://vkvideo.ru/video_ext.php?oid=268595305&id=456239072&hd=2&autoplay=1', 'assets/images/video-preview.jpg', 'small')
            +video-card('Отзыв 2: название', 'https://vkvideo.ru/video_ext.php?oid=268595305&id=456239072&hd=2&autoplay=1', 'assets/images/video-preview.jpg', 'small')
            +video-card('Отзыв 3: название', 'https://vkvideo.ru/video_ext.php?oid=268595305&id=456239072&hd=2&autoplay=1', 'assets/images/video-preview.jpg', 'small')