include ../../mixins/mixins.pug

section.steps
    .container
        .steps-slider
            .swiper-wrapper
                .steps-slider__slide
                    +step-slide(
                        'Как это работает?',
                        'Регистрация и добавление проекта в систему',
                        'assets/icons/man-technologist.png'
                    )
                        ol
                            li Зарегистрируйтесь в нашем личном кабинете
                            li При добавление проекта вам необходимо указать URL (адрес) своего сайта
                            li Для вашего сайта будет сгенерирован уникальный код, который необходимо установить на свой сайт (в шаблоне сайта, перед тегом &lt;/head&gt;)
                    +step-slide(
                        'Как это работает?',
                        'Выбор пакета и количества Лидов',
                        'assets/icons/check.png'
                    )
                        p После добавления проекта в систему, вам необходимо выбрать тот пакет и количество Лидов, которое вам необходимо.
                    +step-slide(
                        'Как это работает?',
                        'Оплата проекта',
                        'assets/icons/money.png'
                    )
                        p Оплатить Лидов вы сможете пластиковой картой или безналичным переводом.
                    +step-slide(
                        'Как это работает?',
                        'Получение кода для сайта',
                        'assets/icons/locked.png'
                    )
                        p После оплаты, система для вас сгенерирует код, который вам необходимо установить на свой сайт (в шаблоне сайта, перед тегом &lt;/head&gt;).