section.video
    .container
        .video__title.h2
            h2 Мы подготовили для вас 
                <br />
                | видео-презентацию 
                span.orange нашей работы
                img(src="assets/icons/video-camera.png", alt="Video camera emoji")
        .video__preview
            +video-card('', 'https://vkvideo.ru/video_ext.php?oid=268595305&id=456239072&hd=2&autoplay=1', 'assets/images/video-preview.jpg', 'large')