include ../../mixins/mixins.pug

section.why
    .container
        .why__title.h2
            h2 Почему лучше  
                <br />
                span.orange заказать Лидов у нас
        .why__desctiption.description
            p Лидогенерация — это стабильное получение клиентов и выполнение плана по продажам!
        .why__cards.large
            +advantage-card-medium('01', 'Только качественные Лиды. Мы идентифицируем только тех посетителей, которым интересна ваша услуги и из вашего города.')
            +advantage-card-medium('02', 'Доступная цена и отсутствие минимального порога. У нас отсутствует минимальная плата за сервис, подписка и т.п. Вы покупаете столько Лидов — сколько хотите!')
            +advantage-card-medium('03', 'Техническая поддержка и комплекс услуг. Мы работаем для вас 24/7!')
        .why__cards.small
            +advantage-card-small(
                'assets/icons/voltage.png',
                'Источник Лидов',
                'контекстная реклама в Яндекс.Директ, SEO, SMM и другая реклама дополняют технологию «Лид Конвейер».'
            )
            +advantage-card-small(
                'assets/icons/fire.png',
                'Вы экономите на рекламе',
                'получая контактные данных тех, кто не оставил заявки, но заинтересован в Вашем товаре или услуге — это дополнительный канал продаж.'
            )
            +advantage-card-small(
                'assets/icons/glowing-star.png',
                'Вы сможете прогнозировать продажи',
                'чтобы не ждать, когда-же кто‑то позвонит или оставит заявку, звоните и продавайте первым!'
            )
            +advantage-card-small(
                'assets/icons/hundred-points.png',
                'Безопасно',
                'это абсолютно легальный и законный метод получения Лидов.'
            )
            +advantage-card-small(
                'assets/icons/woman-running.png',
                'Быстро',
                'запуск и получение первых Лидов обычно занимает 5–7 дней, а добавление проекта в систему менее 1 часа.'
            )