footer.footer
    .container
        .footer__copyright
            span &copy; 2025 Все права защищены. Технология «Лид Конвейер» - лидогенерация для бизнеса.
        nav.footer__nav
            a(href="#") Блог
            a(href="#") Договор-оферта
            a(href="#") Политика конфиденциальности
            a(href="#") Соглашение об обработке данных
            a(href="#") Вход в личный кабинет