footer.footer
    .footer__content
        .container
            .footer__copyright
                span &copy; 2025 Все права защищены. Технология «Лид Конвейер» - лидогенерация для бизнеса.
            .footer__company
                span ООО «ДС-ГРУПП» ИНН 7801355174 ОГРН 1187847129425
            nav.footer__nav
                a(href="#") Блог
                a(href="#") Договор-оферта
                a(href="#") Политика конфиденциальности
                a(href="#") Соглашение об обработке данных
                a(href="#") Вход в личный кабинет