header.header
    .header__content
        .container
            a.header__logo(href="/")
                img(src="/assets/images/logo.png", alt="")
                img(src="/assets/images/logo_mobile.png", alt="")
            nav.header__nav
                a(href="#howItWorks").scroll-link Как это работает
                a(href="#price").scroll-link Цена
                a(href="#reviews").scroll-link Отзывы
                a(href="#contacts").scroll-link Контакты
            .header__contacts
                .header__contacts__socials
                    a(href="#").whatsapp
                        include ../../assets/icons/whatsapp.svg
                    a(href="#").telegram
                        include ../../assets/icons/telegram.svg
                .header__contacts__phone
                    a(href="tel:+74951183282") +7 495 118-32-82