.video-modal
    .video-modal__wrapper
        .video-modal__content
            button.video-modal__close
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 384 384.2"><path d="M379.6 322.9 248.4 191.2l131.5-130c5.4-5.4 5.4-14.2 0-19.6L342.5 4c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L192.1 133.6 61 4.1c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L4.1 41.7c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L4.5 322.9c-2.6 2.6-4.1 6.1-4.1 9.8s1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l130.6-131.2L322.8 380c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.7-7.1-4.3-9.7z"/></svg>
            .video-modal__content__frame
        .video-modal__overlay