include ../layout/header.pug

include ../components/sections/heading.pug
include ../components/sections/advantages.pug
include ../components/sections/prices.pug
include ../components/sections/additional-services.pug
include ../components/sections/clients.pug
include ../components/sections/reviews.pug
include ../components/sections/promo-simple.pug
include ../components/sections/promo-registration.pug
include ../components/sections/steps.pug
include ../components/sections/video.pug
include ../components/sections/why.pug
include ../components/sections/promo-result.pug
include ../components/sections/faq.pug
include ../components/sections/info.pug
include ../components/sections/contacts.pug

include ../layout/footer.pug