include ../components/shared/button.pug
include ../components/shared/advantage-card.pug
include ../components/shared/price-card.pug
include ../components/shared/service-card.pug
include ../components/shared/client-card.pug
include ../components/shared/review-card.pug
include ../components/shared/video-card.pug
include ../components/shared/step-slide.pug
include ../components/shared/advantage-card-medium.pug
include ../components/shared/advantage-card-small.pug
include ../components/shared/promo-dark.pug
include ../components/shared/accordion.pug