@use "@mixins" as *;

.container {
    width: 90%;
    max-width: 1780px;
    margin: 0 auto;
    box-sizing: border-box;
    @include media-max-width(1400) {
        width: 95%;
    }
    @include media-max-width(1000) {
        width: 90%;
    }
}
