mixin advantage-card-small(icon, title, text)
    article.advantage-card-small
        .advantage-card-small__icon
            img(src= icon, alt="")
        .advantage-card-small__title
            span= title + ':'
        .advantage-card-small__text
            p= text