mixin advantage-card-medium(label, text)
    article.advantage-card-medium
        .advantage-card-medium__title
            span= label
        .advantage-card-medium__text 
            p= text
        .advantage-card-medium__star
            img(src="assets/icons/star-black.svg", alt="star")