mixin promo-dark(title, image, position)
    .container(class=position ? position : '')
        .promo-dark__content
            .promo-dark__title.h2.white
                h2= title
            .promo-dark__button
                +button('Зарегистрироваться')
        .promo-dark__image
            .promo-dark__image__content
                img(src= image, alt="promo")
            .promo-dark__star
                img(src="assets/icons/star.svg", alt="star")
            .promo-dark__star
                img(src="assets/icons/star.svg", alt="star")