:root {
    --white: #ffffff;
    --grey-2: #c0c0c0;
    --dark-grey: #2d2d2d;
    --light-blue: #37aee2;

    --telegram-btn: #37aee2;
    --telegram-btn-hover: #1c81f5;
    --telegram-btn-active: #0068df;

    --whatsapp-btn: #43d62c;
    --whatsapp-btn-hover: #2ace1b;
    --whatsapp-btn-active: #189f0e;
}
